:root {
    --main-color: #c6b5c3;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    background-image: url(photos/pexels-henry-&-co-1939485.jpg);
}

#navbar {
    overflow: hidden;
    background-color: #ffffff;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar a:hover {
    background-color: #c6b5c3;
    color: black;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    #navbar-right {
        float: none;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 240px;
    height: 90px;
}

#intro-land {
    background-image: url(photos/pexels-tranmautritam-245032.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

#intro-land .intro {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

#intro-land .intro h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

#intro-land .intro p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
}

.centerabout {
    text-align: center;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .features .feat {
    padding: 20px;
    text-align: center;
  }

  .features .feat i {
    color: var(--main-color);
  }

  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }

  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.about .about-content .card {
    background-color: white;
}

.about .about-content .card img {
    max-width: 100%;
}

.about .about-content .card .info {
    padding: 20px;
}

.about .about-content .card .info h3 {
    margin: 0;
}

.about .about-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

#contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

#contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

#contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

#contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    #contact .info .label,
    #contact .info .link {
        font-size: 25px;
    }
}